/* Tab content - closed */
.tab-content {
  max-height: 0;
  -webkit-transition: max-height 500ms;
  -o-transition: max-height 500ms;
  transition: max-height 500ms;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Label formatting when open */
// .tab input:checked + label {
// }
/* Icon */
.tab label::after {
  @apply absolute transition-all duration-75;
  top: 35%;
  right: 1%;
}
/* Icon formatting - closed */
.tab input[type="checkbox"] + label::after {
  content: url("../../assets/images/plus.svg");
}
.tab input[type="radio"] + label::after {
  content: url("../../assets/images/plus.svg");
}
/* Icon formatting - open */
.tab input[type="checkbox"]:checked + label::after {
  content: url("../../assets/images/minus.svg");
}
.tab input[type="radio"]:checked + label::after {
  content: url("../../assets/images/minus.svg");
}
